* {
  margin: 0;
  padding: 0; }

main container-fluid {
  background-color: white; }

main .collapsenavbar-collapse .navbar-navme-automb-2mb-lg-0 {
  color: #500202; }

* {
  margin: 0;
  padding: 0; }

.piecompleto p {
  color: #e6e866; }

* {
  margin: 0;
  padding: 0; }

header .h1marca {
  color: #820b0b; }
