* {
    margin: 0;
    padding: 0;
}

main {
    container-fluid {
        background-color: rgb(224, 61, 216);
    }

    .collapsenavbar-collapse {
        .navbar-navme-automb-2mb-lg-0 {
            color: rgb(80, 2, 2);
        }
    }
}
@import './secciones/footer';
@import './secciones/header';